.checkout_header, .normal_wrapper_footer, .interesting_checkout {
  display: var(--display-header-checkout);
}

.wrapper_footer_checkout {
  background: var(--background-wrapper-footer);

  .site_info {
    grid-template-columns: repeat(4, max-content);

    @media screen and (max-width: $screen-jg) {
      grid-template-columns: 1fr;
    }
  }
}

.title_h1_checkout {
  margin: 32px 0;
  font-size: 32px;
  line-height: 41px;
  font-weight: bold;
}

.checkout {
  display: grid;
  grid-template-columns: 464px 488px;
  grid-gap: 0 88px;

  .selected_products {
    .item {
      width: 339px;
      display: grid;
      grid-template-columns: 160px 1fr;
      grid-gap: 16px;
      margin-bottom: 24px;

      img {
        width: 100%;
      }

      .title {
        font-weight: bold;
        line-height: 21px;

        a {
          color: inherit;
          text-decoration: none;
        }

        @media screen and (max-width: $screen-jg) {
          font-size: 13px;
          line-height: 17px;
          margin-right: 0;
        }
      }

      .subcategory {
        font-size: 13px;
        line-height: 17px;
        margin-top: 4px;
      }

      .price {
        font-weight: bold;
        margin-top: 15px;
      }
    }

    @media screen and (max-width: $screen-jg) {
      order: -1;
      .item {
        width: 100%;
      }
    }
  }

  .wrapper_form_checkout {

    .input {
      margin-bottom: 5px;
      padding-left: 24px;
      display: grid;
      grid-template-columns: max-content 1fr;

      label {
        padding-right: 40px;
        line-height: 42px;
      }

      .wrapper_input {
        margin-bottom: 24px;

        &:nth-of-type(2) {
          margin-bottom: 40px;
        }

        p {
          font-size: 13px;
          line-height: 17px;
          color: #666666;
          margin-top: 5px;
          margin-left: 11px;
        }
      }
    }

    input, textarea {
      width: 265px;
      padding: 8px 11px 10px 11px;
      font-size: inherit;
      line-height: inherit;
      font-family: inherit;
      box-sizing: border-box;
      background: #FBFBFB;
      border: #DDDDDD solid 1px;
      border-radius: 2px;

      &::placeholder {
        color: #DDDDDD;
      }
    }

    textarea {
      resize: none;
    }

    .submit {
      background: #F2F2F2;
      padding: 24px 24px 20px 24px;
      display: grid;
      grid-template-columns: 130px 1fr;
      grid-gap: 40px;

      .wrapper_text {
        margin-top: 4px;
      }

      p {
        font-size: 13px;
        line-height: 17px;

        &:first-child {
          padding-right: 15px;
        }
      }
    }
    @media screen and (max-width: $screen-jg) {
      .input, .submit {
        grid-template-columns: 1fr;
        padding-left: 16px;
      }

      .input {
      }
    }
  }

  button {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: bold;
    padding: 11px 19px 10px 18px;
    background: linear-gradient(180deg, #FFC908 0%, #FFBA08 100%);
    box-shadow: 0 0 15px rgba(255, 146, 17, 0.5);
    border: none;
    border-radius: 4px;
  }

  .selected_products_price {
    text-align: right;
    margin-bottom: 80px;
    border-top: #DDDDDD solid 1px;

    .price {
      font-size: 24px;
      line-height: 31px;
      font-weight: bold;
      margin-top: 17px;
    }

    .text {
      font-size: 13px;
      line-height: 17px;
      color: #666666;
    }

    @media screen and (max-width: $screen-jg) {
      order: -1;
    }
  }

  @media screen and (max-width: $screen-jg) {
    grid-template-columns: 1fr
  }

  @media screen and (min-width: $screen-jg) {
  }
}

#address {
  height: 84px;
}