//////////////////////////////////////////////
//Главный блок
//////////////////////////////////////////////

.wrapper {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-gap: 48px;
  margin: 48px 0;
  padding: 0 16px;

  .about, .section {
    font-size: 18px;
  }

  .about {
    line-height: 23px;

    p {
      margin-bottom: 16px;
    }
  }

  @media screen and (max-width: $screen-jg) {
    grid-template-columns: 1fr;
    grid-gap: 24px;
    margin: 24px 0;

    .about {
      max-width: 240px;
    }
  }

  @media screen and (min-width: $screen-jg) {
  }
}

.fullMenu {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  grid-gap: 32px;

  a {
    color: $color-main-links;
  }

  .section {
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 1px;
  }

  .subsection {
    margin-left: 9px;
    margin-bottom: 8px;
  }

  @media screen and (max-width: $screen-jg) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 26px;
  }

  @media screen and (min-width: $screen-jg) {
  }
}

