//////////////////////////////////////////////
//Блок Popular
//////////////////////////////////////////////

.popular {
  background: $background-bottom-block-color;
  color: $color-bottom-text;

  h2 {
    font-size: 3em;
    line-height: 1.3em;
  }

}
