//////////////////////////////////////////////
//Слайдер №2
//////////////////////////////////////////////

.sliderPopular {
  padding: 0 50px;

  img {
    width: auto;
    object-fit: contain;
    height: 20vw;
  }

  .slide {
    margin: 20px;
  }
  p {
    display: block;
  }
  .prise {
    float: right;
  }
}