@import "parts/screen";
$font-family-default: 'PT Sans', sans-serif;
$font-size-default: 17px;
$width-content: 1136px;

$background-top-block-color: #fff;
$color-top-text: #000;
$background-bottom-block-color: #000;
$color-bottom-text: #fff;
$height-slider-1: 500px;

//сss переменные
:root {
  --color-link: #256b00;
  --hide-img: 1;
}

//подключение частей scss
@import "parts/fonts";
@import "parts/main";
@import "parts/footer";


body, p {
  margin: 0;
  padding: 0;
}
/* Remove outline on the forms and links */
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

body {
  font-family: $font-family-default;
  font-size: $font-size-default;

}

.container {

  display: grid;
  grid-template-columns: 1fr;

  >* {
    border: black solid 1px;
  }

  @media screen and (max-width: $screen-jg) {
    width: 100%;
  }

  @media screen and (min-width: $screen-jg) {
    width: $width-content;
    margin: 0 auto;
  }
}

.slider_container {
  img {
    width: 100%;

  }
}