.xxx{
    margin: 0;
    display: inline-block;
    padding-right: 5px;
}

@font-face {
    font-family: 'Icons';
    src: url('../assets/fonts/fontello.woff2?37257407') format('woff2'),
    url('../assets/fonts/fontello.woff?37257407') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="i-"]:before,
[class*=" i-"]:before {
    font-family: 'Icons';
    font-style: normal;
    font-weight: normal;
    display: inline-block;
}

.i-menu:before { content: '\e800'; }
.i-moon:before { content: '\e801'; }
.i-sun:before { content: '\e802'; }