<!DOCTYPE html>
<html lang="en">
<head>
    {% include "blocks/meta.html" %}
</head>
<body class="js_card_product">

<div class="container">
    <header>
        <div class="logo"><a href="index.html">Фетч</a></div>
        {% include "blocks/header.html" %}
    </header>
</div>

<div class="container">
    <main class="card_product">
        <div class="info_product">
            {% include "blocks/info_product.html" %}
        </div>

        <div class="foto_product">
            <div class="js_slider_product_for slider_product_for">
            </div>

            <div class="js_slider_product_nav slider_product_nav">
            </div>
        </div>

        <div class="interesting">
            <p>Вам может быть интересно</p>
            <div class="js_slider_interesting_card_product slider_interesting">
                {% include "blocks/interesting.html" %}
            </div>
        </div>
    </main>

    <div class="block_table_size mfp-hide white-popup" id="block_table_size">
        <p class="close">Таблица размеров</p>
        {% set sizes = [
            {country: 'US', sizes: ['4', '4,5', '5', '5,5', '6', '6,5', '7']},
            {country: 'UK', sizes: ['3,5', '4', '4,5', '6', '5,5', '6', '6,5']},
            {country: 'EU', sizes: ['36', '37', '38', '39', '40', '41', '42']}
        ] %}
        <table>
            {% for item in sizes %}
                <tr>
                    <td class="country">{{ item.country }}</td>
                    {% for size in item.sizes %}
                        <td>{{ size }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="wrapper_footer">
    <div class="container">
        <footer>
            <nav>
                {% include "blocks/info_footer.html" %}
                {% include "blocks/fullMenu.html" %}
            </nav>
            <div class="site_info">
                <span>© Фетч-команда, 2019</span>
                <a href="">Правила обработки персональных данных</a>
                <a href="">Разработка и поддержка сайта</a>
            </div>
        </footer>
    </div>
</div>

{% include "blocks/pages_links.html" %}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="scripts/slick.min.js" ></script>
<script src="scripts/magnific.js" ></script>
<script src="scripts/bundle.js" ></script>
<script src="scripts/api.js" ></script>

</body>
</html>
