<!DOCTYPE html>
<html lang="en">
<head>
    {% include "blocks/meta.html" %}
</head>
<body class="js_checkout">

<div class="container">
    <header class="checkout_header hide_block">
        <div class="logo"><a href="index.html">Фетч</a></div>
        {% include "blocks/header.html" %}
    </header>
</div>

<div class="container" id="container_checkout">
    <div class="title_h1_checkout">
        <p>Фетч • Оформление заказа</p>
    </div>
    <div class="wrapper_checkout">
        <div class="checkout">
            <div class="selected_products">
            </div>

            <div class="wrapper_form_checkout">
                <form action="" class="js_form">
                    <section class="input">
                        <label for="email">Эл. почта</label>
                        <div class="wrapper_input">
                            <input id="email" type="email" placeholder="petrov@yandex.ru">
                            <p>Пришлём чеки и трек-номер</p>
                        </div>
                        <label for="telephone">Телефон</label>
                        <div class="wrapper_input">
                            <input id="telephone" type="tel" placeholder="+7 999 275-12-37">
                            <p>Менеджер позвонит, чтобы подтвердить заказ</p>
                        </div>
                        <label for="city">Город</label>
                        <div class="wrapper_input">
                            <input id="city" type="text" placeholder="Москва">
                        </div>
                        <label for="address">Адрес</label>
                        <div class="wrapper_input">
                            <textarea id="address" name="comment" cols="40" rows="3"
                                      placeholder="Тимирязевская, 32, квартира 99, вход со двора"></textarea>
                        </div>
                    </section>
                    <section class="submit">
                        <div class="wrapper_text">
                        <p>Бесплатная доставка курьером.</p>
                        <p>Оплата картой онлайн.</p>
                        </div>
                        <div class="wrapper_button">
                            <button type="submit">Оформить заказ, <span class="price js_price"></span></button>
                        </div>
                    </section>
                </form>
            </div>

            <div class="selected_products_price">
                <p class="price js_price">0</p>
                <p class="text">Доставка бесплатно</p>
            </div>
        </div>
    </div>
</div>

<div class="container container_checkout_success hide_block">
    <div class="title_h1_checkout">
        <p>Заказ №<span class="order_number"></span> оформлен</p>
    </div>
    <div>
        <p>Скоро вам позвонит менеджер, чтобы подтвердить заказ.</p>
        <p><a href="">Вернуться на главную</a> или <a href="">продолжить покупки в каталоге</a></p>
    </div>
    <div class="interesting interesting_checkout">
        <p>Вам может быть интересно</p>
        <div class="js_slider_interesting_checkout slider_interesting">
            {% include "blocks/interesting.html" %}
        </div>
    </div>
</div>

<div class="wrapper_footer normal_wrapper_footer hide_block">
    <div class="container">
        <footer>
            <nav>
                {% include "blocks/info_footer.html" %}
                {% include "blocks/fullMenu.html" %}
            </nav>
            <div class="site_info">
                <span>© Фетч-команда, 2019</span>
                <a href="">Правила обработки персональных данных</a>
                <a href="">Разработка и поддержка сайта</a>
            </div>
        </footer>
    </div>
</div>

<div class="wrapper_footer_checkout">
    <div class="container">
        <footer>
            <div class="site_info">
                <span>© Фетч-команда, 2019</span>
                <span>8 800 912-11-42, звонок бесплатный</span>
                <a href="">shop@fetch.ru</a>
                <a href="">Правила обработки персональных данных</a>
            </div>
        </footer>
    </div>
</div>

{% include "blocks/pages_links.html" %}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
<script type="text/javascript" src="scripts/slick.min.js" ></script>
<script src="scripts/magnific.js" ></script>
<script src="scripts/bundle.js" ></script>
<script src="scripts/api.js" ></script>

</body>
</html>
