<!DOCTYPE html>
<html lang="en">
<head>
    {% include "blocks/meta.html" %}
</head>
<body>

<div class="container">
    <header>
        {% include "blocks/header.html" %}
    </header>
</div>

<div class="js_slider_main">
    {% include "blocks/slider_main.html" %}
</div>

<div class="container">
    <main>
        <div class="about">
            <p><b>Фетч</b> — мультибрендовый магазин модной одежды.</p>
            <p>Следим за трендами и часто обновляем ассортимент.</p>
            <p>Доставляем по Москве за день, по России — за неделю.</p>
        </div>
        <nav>
            {% set fullMenu = [
                {section: 'Для мужчин', subsection: ['Верхняя одежда', 'Рубашки и поло', 'Трикотаж', 'Брюки и джинсы', 'Бельё и носки']},
                {section: 'Для женщин', subsection: ['Верхняя одежда', 'Рубашки и поло', 'Трикотаж', 'Платья и юбки', 'Бельё и носки']},
                {section: 'Обувь', subsection: ['Кроссовки и кеды', 'Ботинки']},
                {section: 'Аксессуары', subsection: ['Сумки и рюкзаки', 'Часы', 'Бижутерия', 'Средства для ухода']},
                {section: 'Скидки', subsection: ['Летняя распродажа', 'Коллекция 2018']},
            ] %}

            {% for item in fullMenu %}
                <div>
                    <p class="section"><a href="">{{ item.section }}</a></p>
                    {% for subitem in item.subsection %}
                    <p class="subsection"><a href="">{{ subitem }}</a></p>
                    {% endfor %}
                </div>
            {% endfor %}
        </nav>
    </main>
    <footer>
        footer
    </footer>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="scripts/slick.min.js" ></script>
<script src="scripts/magnific.js" ></script>
<script src="scripts/bundle.js" ></script>
<script src="scripts/api.js" ></script>

</body>
</html>
