<!DOCTYPE html>
<html lang="en">
<head>
    {% include "blocks/meta.html" %}
</head>
<body>

<div class="container">
    <header>
        {% include "blocks/header.html" %}
    </header>
    <div class="slider_container">
        <img src="assets/img/main_slider_1.webp" alt="">
    </div>
    <main>
        Reebok Aztrek Double
    </main>
    <footer>
        footer
    </footer>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="scripts/slick.min.js" ></script>
<script src="scripts/magnific.js" ></script>
<script src="scripts/bundle.js" ></script>
<script src="scripts/api.js" ></script>

</body>
</html>
