<!DOCTYPE html>
<html lang="en">
<head>
    {% include "blocks/meta.html" %}
</head>
<body>
<div class="container" itemscope itemtype="https://schema.org/Person">
    <div class = "foto">
        <div class="slider">
            <img src="assets/img/1.jpg" alt="Хаяо Миядзаки" itemprop="image">
            <img src="assets/img/2.jpg" alt="Хаяо Миядзаки" itemprop="image">
            <img src="assets/img/3.jpg" alt="Хаяо Миядзаки" itemprop="image">
        </div>
    </div>
    <div class="buttonLeft i-left"></div>
    <div class="buttonRight i-right"></div>
    <div class="name" itemprop="name"><h1 class="i-totoro">Хаяо Миядзаки</h1></div>
    <div class="info">
        {% include "blocks/info.html" %}
    </div>
    <div class="about" itemprop="description">
        {% include "blocks/about.html" %}
    </div>
    <div class="works">
        {% set works = [
            { name: 'Небесный замок Лапута', year: '1986'},
            { name: 'Мой сосед Тоторо', year: '1988'},
            { name: 'Могила светлячков', year: '1988'},
            { name: 'Могила светлячков', year: '1989'},
            { name: 'Порко Россо', year: '1992'},
            { name: 'Шёпот сердца', year: '1995'},
            { name: 'Принцесса Мононокэ', year: '1997'},
            { name: 'Унесённые призраками', year: '2001'},
            { name: 'Ходячий замок', year: '2001'},
            { name: 'Сказания Земноморья', year: '2006'},
            { name: 'Рыбка Поньо на утёсе', year: '2008'},
            { name: 'Ариэтти из страны лилипутов', year: '2010'},
            { name: 'Со склонов Кокурико', year: '2011'},
            { name: 'Ветер крепчает', year: '2012'},
            { name: 'Как поживаешь?', year: 'ожидаем'},
        ] %}
        <h2>Работы</h2>
        <ul>
            {% for work in works %}
                {% if work.name %}
                    <li itemprop="subjectOf" itemscope itemtype="https://schema.org/CreativeWork">
                        <time itemprop="datePublished" datetime="{{work.year}}">{{work.year}}</time> - <span itemprop="name">{{work.name}}</span>
                    </li>
                {% else %}
                    <li>
                        ! Ошибка !
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<script src="scripts/script.js" ></script>
</body>
</html>
