{% for i in 1..3 %}
{% for painting in paintings %}
<div class="slide" itemtype = "https://schema.org/CreativeWork">
    <img data-lazy="{{painting.src}}" alt="" itemprop = "image" >
    <div class="sl_text">
        <p class="sl_head"><span class="name" itemprop="name">{{painting.name}}</span>, <time datetime="{{painting.year}}" itemprop = "dateCreated">{{painting.year}}</time></p>
        <p class="author"  itemprop="author">{{painting.author}}</p>
        <p><span class="size">{{painting.width}}х {{painting.height}}</span> , <span class="basis" itemprop="material">{{painting.basis}}</span><span class="prise" itemprop = "price">{{painting.prise}}₽</span></p>

    </div>
</div>
{% endfor %}
{% endfor %}