<div class="js_slider_1_for" itemtype = "https://schema.org/CreativeWork">
    {% for painting in paintings %}
    <div class="slide">
        <img data-lazy="{{painting.src}}" alt="{{painting.name}}" itemprop = "image" >
        <div class="sl_text">
            <p class="sl_head"><span class="name" itemprop="name">{{painting.name}}</span>, <time datetime="{{painting.year}}" itemprop = "dateCreated">{{painting.year}}</time></p>
            <p> <span class="size" itemtype = "https://schema.org/ImageObject"><span itemprop="width"></span>{{painting.width}}х <span itemprop="height">{{painting.height}}</span></span> , <span class="basis" itemprop="material">{{painting.basis}}</span></p>
            <p class="author" itemprop="author">{{painting.author}}</p>
            <p class="prise" itemprop = "price">{{painting.prise}}₽</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="js_slider_1_nav">
    {% for painting in paintings %}
    <div class="slide">
        {% if painting.srcNav %}
            <img data-lazy="{{painting.srcNav}}" alt="">
        {% endif %}
    </div>
    {% endfor %}
</div>